PORT=5000
DB_CONNECTION_STRING=Server=localhost\\SQLEXPRESS;Database=Geis;Trusted_Connection=True;TrustServerCertificate=True;
DB_USER=Geis
DB_PASSWORD=123
DB_SERVER=localhost\\SQLEXPRESS
DB_INSTANCE=SQLEXPRESS
DB_PORT=
DB_NAME=Geis
DB_ENCRYPT=false
DB_TRUST_SERVER_CERT=true
DB_TRUSTED_CONNECTION=true
